* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.entry {
  color: #333333;
  font-family: sans-serif;
  /* margin-right: 40em;
  margin-left: 25em; */
}

.navli {
  display: inline;
  float: left;
  border: solid #cccccc 1px;
}

.navlink {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  color: #00174a;
  font-family: sans-serif;
}

.navlink:hover {
  color: white;
}

#name {
  color: #00174a;
  text-align: center;
  background-color: #e1e9eb;
  font-family: fantasy;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #89bff0;
  padding: 2em;
}

.info_item {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 25px;
}

.info_item.navbar {
  margin-top: -2em;
  padding: 1em;
  background-color: #89bff0;
}

.info_item.contact {
  display: flex;
  flex-direction: column;
}

.clink {
  margin: 0 1em;
}

.proj {
  width: inherit;
}

@media only screen and (max-width: 400px) {
  .projects, .experience {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .projects, .experience {
    width: 48.5%;
  }
}
